.container{
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    background-color: hsl(240, 73%, 65%);
    color: whitesmoke;
}
.name{
    margin: 40px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.05;
}
.text{
    line-height: 1.75;
    margin: 20px;
    padding: 20px;
}